set mysql_connection_string "mysql://john:smith@localhost/es_extended?charset=utf8mb4"

stop webadmin

ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard

#Loading Screen
start loadscreen

#Les Tests
start help
start guns
start announce #/announce

#HUD
start target
start menu
start speedometer
start hungerthirst


#ESX
ensure mysql-async
ensure cron
ensure skinchanger

ensure es_extended